@model Lab5_1223319_1003519.Models.Tareas

@{
    ViewBag.Title = "ProximaTarea";
}

<br />
<input type="button" value="Agregar Tarea" onclick="location.href='@Url.Action("NuevaTarea", "Tarea")'" />

<h2>Proxima Tarea</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrega)
        </dd>

    </dl>
</div>

<input type="button" value="Marcar como Finalizada" onclick="location.href='@Url.Action("Finalizada", "Tarea")'" />
<br />
@Html.ActionLink("Cerrar sesion", "Index", "Tarea")